* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(245, 139, 139);
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  display: flex;
  .main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem;

    .card1 {
      width: 400px;
      height:100%;
      background-color: rgb(142, 142, 218);
      border-radius: 5rem;
      overflow: hidden;

      img {
        width: 100%;
        position: relative;
      }
      h3 {
        font-size: 30px;
        padding: 1rem;
      }

      p {
        color: rgb(5, 5, 5);
        font-size: 1.7rem;
        font-weight: 300px;
        padding: 1.5rem;
      }
      button {
        background-color: rgb(190, 214, 214);
        width: 250px;
        height: 3rem;
        border: none;
        border-radius: 20px;
        color: black;
        font-size: large;
        text-transform: uppercase;
        &:hover{
          background-color: rgb(51, 51, 235);
          color: rgb(241, 243, 245);
          animation-duration: 1s;
          border-color: black;
        }
      }
    }
  }
}
